
#img-div{
  max-width: 100%;
  background-color: #F2AE30;
  padding: 30px;
  margin-bottom: 50px;
}

#img-div, a{
 font-size: 10px;
}

#image{
  display: block;
  max-width:100%;
  height: auto;
}

#img-caption{
  text-align: center;
  margin-top: 10px;
}


body{
  padding: 30px;
  font-family: Roboto, sans-serif;
  font-size: 1rem;
}

#main{
  background-color: #E9F2F0;
  padding: 20px;
  box-sizing: border-box;

}

h1, h2, h3{
  text-align: center;
  margin: 0;
}

main > h3{
  margin-bottom: 50px;
  font-weight: 400;
}

#main > #title{
  margin-bottom: 0;
}

#timeline-list{
  margin: 0 70px 20px 70px;
}

#tribute-info{
  margin-bottom: 20px;
}

li{
  margin-bottom: 20px;
}

h2:last-child{
  min-width: 100px;
}

#quote{
  margin: 50px;

}

#timeline-list{
  max-width: 50%;
  margin: 0 auto;
}
